<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/panel-admin.css">
    <title>Painel Administrativo</title>
</head>

<body>
    <header>
        <ul>
            <li>
                <a href="http://localhost:8080/user/edit">Editar perfil</a>
            </li>
            <li>
                <a href="http://localhost:8080/logout">Logout</a>
            </li>
        </ul>
    </header>
    <main>
        <h3>Bem Vindo(a) <%= user.name %></h3>
    </main>
</body>

</html>